# # dot files
# /.vscode
# /.settings
# /.eide/log
# /.eide.usr.ctx.json
# /*.uvgui.20634
# /*.uvopt


# # project out
# /build
# /Listings
# /Objects
# /out

# # eide template
# *.ept
# *.eide-template
